.cabecalho {
    /*background-image: url('Images/Cabeçalho.jpg');*/
    border-bottom:solid ;
    border-color: #46d519;
    border-width: 7px;
    height: 70px;
    margin: 0 auto;
    width: 100%;
}

.cabecalho Table {
    width: 100%;
    height: 70px;
}

.cabecalho_esquerda {
    background-image: url('Images/Cabeçalho_esquerda.jpg');
    width: 50px;
}

.cabecalho_direita {
    background-image: url('Images/Cabeçalho_direita.jpg');
    width: 203px;
}

.cabecalho_titulo {
    float: left;
    display: block;
}

.cabecalho h1 {
    font-size: 30px;
    font-weight: bold;
    color:#2e363b;
    font-family: segoe UI-MONOSPACE;
    text-align: center;
}

.visualizador {
    padding: 10px;
    margin: 10px;
    overflow: auto;
    display: block;
    border:1px solid  #969696;
    max-height: 650px;
    border-radius: 5px;
}

.duas_colunas {
    width:50%;
    float: left;
}

.tres_colunas {
    width:33%;
    float: left;
}

.quatro_colunas {
    width:25%;
    float: left;
}

.cinco_colunas {
    width:20%;
    float: left;
}

/*
Cores principais
Branco: #fff
Verde: #46d519
Preto: #2e363b